<a href="https://colab.research.google.com/github/w1767/w1767/blob/main/Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
#BASIC LIBRARY FOR EXPLORATORY DATA ANALYSIS

In [91]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)

In [92]:
import numpy as numpy
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport
import seaborn as sns
import warnings
from sklearn.preprocessing import normalize
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
%matplotlib inline
warnings.filterwarnings('ignore')

In [93]:
#Import Online Retail Data containing transactions from 01/12/2010 and 09/12/2011
onl_Rtl_data = pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
onl_Rtl_data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [94]:
# Finding the dimension of Dataset
onl_Rtl_data.shape

(541909, 8)

In [95]:
#Customer by Country
#Dropping duplicate values from the dataset
cust_by_count=onl_Rtl_data[['Country', 'CustomerID']].drop_duplicates()
cust_by_count.groupby(['Country'])['CustomerID'].aggregate('count').reset_index().sort_values('CustomerID', ascending=False)

                 Country  CustomerID
36        United Kingdom        3950
14               Germany          95
13                France          87
31                 Spain          31
3                Belgium          25
33           Switzerland          21
27              Portugal          19
19                 Italy          15
12               Finland          12
1                Austria          11
25                Norway          10
24           Netherlands           9
0              Australia           9
6        Channel Islands           9
9                Denmark           9
7                 Cyprus           8
32                Sweden           8
20                 Japan           8
26                Poland           6
34                   USA           4
5                 Canada           4
37           Unspecified           4
18                Israel           4
15                Greece           4
10                  EIRE           3
23                 Malta           2
35  United Arab Emirates           2
2                Bahrain           2
22             Lithuania           1
8         Czech Republic           1
21               Lebanon           1
28                   RSA           1
29          Saudi Arabia           1
30             Singapore           1
17               Iceland           1
4                 Brazil           1
11    European Community           1
16             Hong Kong           0

In [96]:
onl_Rtl_data = onl_Rtl_data.query("Country == 'United Kingdom'").reset_index(drop=True)

Finding the missing values in dataset

In [97]:
onl_Rtl_data.isnull().sum(axis=0)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133600
Country             0
dtype: int64

In [98]:
#Data cleaning
onl_Rtl_data['Description'] = onl_Rtl_data['Description'].str.strip() #removes spaces from beginning and end
onl_Rtl_data.dropna(axis=0, subset=['InvoiceNo'],inplace = True) #removes duplicate invoice
onl_Rtl_data['InvoiceNo'] = onl_Rtl_data['InvoiceNo'].astype('str') #converting invoice number to be string
onl_Rtl_data = onl_Rtl_data[~onl_Rtl_data['InvoiceNo'].str.contains('C')] #removes the cancelled transactions
onl_Rtl_data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [99]:
onl_Rtl_data['Country'].value_counts()

United Kingdom    487622
Name: Country, dtype: int64

In [100]:
Ana_basket = (onl_Rtl_data
              .groupby(['InvoiceNo', 'Description'])['Quantity']
              .sum().unstack().reset_index().fillna(0)
              .set_index('InvoiceNo'))

In [101]:
Ana_basket.head()

Description  *Boombox Ipod Classic  ...  wrongly sold sets
InvoiceNo                           ...
536365                         0.0  ...                0.0
536366                         0.0  ...                0.0
536367                         0.0  ...                0.0
536368                         0.0  ...                0.0
536369                         0.0  ...                0.0

[5 rows x 4175 columns]

In [102]:
onl_Rtl_data.isnull().sum(axis=0)

InvoiceNo           0
StockCode           0
Description      1455
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133277
Country             0
dtype: int64

In [103]:
#converting all positive values to 1 and everything else to 0
def my_encode_units(x):
  if x <=0:
    return 0
    if x>= 1:
      return 1
basket_sets = Ana_basket.applymap(my_encode_units)
basket_sets.drop('POSTAGE', inplace=True, axis=1) #remmove 'postage' as an item
onl_Rtl_data.isnull().dropna()

        InvoiceNo  StockCode  Description  ...  UnitPrice  CustomerID  Country
0           False      False        False  ...      False       False    False
1           False      False        False  ...      False       False    False
2           False      False        False  ...      False       False    False
3           False      False        False  ...      False       False    False
4           False      False        False  ...      False       False    False
...           ...        ...          ...  ...        ...         ...      ...
495473      False      False        False  ...      False       False    False
495474      False      False        False  ...      False       False    False
495475      False      False        False  ...      False       False    False
495476      False      False        False  ...      False       False    False
495477      False      False        False  ...      False       False    False

[487622 rows x 8 columns]

In [105]:
#Generating frequent itemsets
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

ValueError: ignored